* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.first-row button {
  font-size: 25px;
  border: 0.5px solid black;
  border-radius: 30px;
  padding: 10px;
  background-color: grey;
  color: white;
  font-family: "Roboto";
  text-align: center;
  cursor: pointer;
}

.first-row button:hover {
  background-color: darkgray;
}

.first-row button:active {
  transform: scale(0.95);
  background-color: #555;
}

.first-row {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: black;
  border-radius: 10px;
}

.first-row .division {
  background-color: orange;
}

.first-row .division:hover {
  background-color: darkorange;
}
