* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: black;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.first-row button,
.second-row button {
  font-size: 25px;
  border: 0.5px solid black;
  border-radius: 30px;
  padding: 10px;
  background-color: grey;
  color: white;
  font-family: "Roboto";
  text-align: center;
  cursor: pointer;
  width: 50px;
}

.first-row button:hover,
.second-row button:hover {
  background-color: darkgray;
}

.first-row button:active {
  transform: scale(0.95);
  background-color: #555;
}

.first-row,
.second-row {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: black;
  border-radius: 10px;
}

.first-row .operations,
.second-row .operations {
  background-color: orange;
}

.first-row .operations:hover,
.second-row .operations:hover {
  background-color: darkorange;
}
